h1 {
  font-family: Eldwin Light;
  font-size: 3.7vw;
  color: black;
  line-height: 120%;
  display: block;
  vertical-align: top;
  text-align: left;
  margin-left: 2.5%;
  margin-right: auto;
}
h2 {
  font-family: Eldwin Light;
  font-size: 1.9vw;
  color: black;
  line-height: 120%;
  display: block;
  vertical-align: top;
  text-align: left;
  margin-left: 2.5%;
  margin-right: auto;
}
  h3 {font-family: Eldwin Light; font-size: 1.5vw; color: white; padding-left: 0.893vw; line-height: 1.488vw; vertical-align: top; text-align: left;}
p {
  font-family: Eldwin Light;
  font-size: 2vw;
  color: #000000;
  display: block;
  padding-left: 0.893vw;
  line-height: 100%;
  vertical-align: top;
  text-align: left;
}
